.add-article-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/Backgrounds/white-texture.jpg");
  background-size: cover;
}

.add-article-container {
  max-width: 40%;
  padding: 5% 20%;
  border-radius: 20px;
  background-color:rgba(225,220,238,0.7) ;
  backdrop-filter: blur(5px);
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 30px;
  color: rebeccapurple;
}

hr{
  margin-bottom: 10%;
  border: 1px solid mediumpurple;
  width: 450px;
}

label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rebeccapurple;
  margin-right: 20px;
}

form{
  display: flex;
  flex-direction: column;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"],
textarea,select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid mediumpurple;
  border-radius: 5px;
}

textarea {
  height: 150px;
}

button {
  padding: 10px 20px;
  background-color: mediumpurple;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s ease-in;
}

button:hover {
  background-color: rebeccapurple;
}
